/*check if database exist*/
USE [master]
GO

/****** Object:  Database [DevOpsDB]    Script Date: 16/05/2018 17:19:51 ******/
IF (not EXISTS (SELECT name 
FROM master.dbo.sysdatabases 
WHERE ('[' + name + ']' ='DevOpsDB'
OR name = 'DevOpsDB')))
begin 
CREATE DATABASE [DevOpsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevOpsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DevOpsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DevOpsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DevOpsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
end


/****** Object:  Database [DevOpsDB]    Script Date: 16/05/2018 17:19:51 ******/

GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevOpsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [kh]    Script Date: 16/05/2018 18:49:18 ******/
If not Exists (select loginname from master.dbo.syslogins 
    where name = 'kh' )
Begin

CREATE LOGIN [kh] WITH PASSWORD=N'123', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
end 
/*/*GO*/*/

ALTER LOGIN [kh] enable
/*/*GO*/*/

ALTER SERVER ROLE [serveradmin] ADD MEMBER [kh]